.fa-heart {
    color:white;
    font-size: x-large;
    flex: 1; text-align: right; 
    margin-top: 20px;
    margin-right: 50px;
    padding-right: 0%;
}
.text-white {
   padding: 20px;
   font-size: x-large;
   flex: 1; text-align: left; 
   margin-left: 20px;
}
