.grid {
    display: grid;
    grid-gap: 1em;
    // justify-content: flex-start !important ;
    // align-items: flex-start !important;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  .grid-item {
    
    padding: 1em;
    
  }